name: Publish

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    concurrency: publish

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4

      - name: Checkout gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: "gh-pages"
          path: "public"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install uv
        run: pipx install uv

      - name: Install dependencies
        run: |
          uv pip install --system --requirement requirements.txt

      - name: Load cache
        uses: actions/cache@v4
        with:
          path: cache.pickle
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Generate feeds
        run: |
          python drafthouse.py chicago --output-file public/chicago.json
          python drafthouse.py los-angeles --output-file public/los-angeles.json
          python drafthouse.py nyc --output-file public/nyc.json
          python drafthouse.py sf --output-file public/sf.json
        env:
          CACHE_PATH: cache.pickle

      - name: Commit changes
        run: |
          git config user.name 'GitHub Actions'
          git config user.email 'actions@users.noreply.github.com'
          git add .
          git commit --message "Update feeds" || true
        working-directory: public/

      - name: Push changes
        run: git push origin refs/heads/gh-pages
        working-directory: public/
