name: Publish

on:
  schedule:
    - cron: "0 * * * *"
    - cron: "*/15 8-9 * * 2"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    outputs:
      deployed-checksum: ${{ steps.deployed-checksum.outputs.checksum }}
      artifact-checksum: ${{ steps.artifact-checksum.outputs.checksum }}

    runs-on: ubuntu-slim

    steps:
      - name: Checkout main branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

      - name: Install dependencies
        run: uv sync

      - name: Load cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: cache.pickle
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Generate feeds
        run: |
          mkdir -p public/
          IFS=',' read -r -a regions_array <<< "$REGIONS"
          for region in "${regions_array[@]}"; do
              uv run drafthouse "$region" --output-file "public/$region.json"
          done
        env:
          CACHE_PATH: cache.pickle
          CACHE_MAX: 1000
          REGIONS: ${{ vars.REGIONS }}

      - name: Fetch deployed checksum
        id: deployed-checksum
        run: |
          curl --silent https://josh.github.io/alamo-drafthouse-feeds/checksum | tee "$RUNNER_TEMP/checksum"
          (echo -n "checksum=" ; head -n1 "$RUNNER_TEMP/checksum") >>"$GITHUB_OUTPUT"

      - name: Compute checksum
        id: artifact-checksum
        run: |
          sha256sum ./* | sort | sha256sum | awk '{print $1}' | tee "$RUNNER_TEMP/checksum"
          (echo -n "checksum=" ; cat "$RUNNER_TEMP/checksum") >>"$GITHUB_OUTPUT"
          mv "$RUNNER_TEMP/checksum" checksum
        working-directory: public/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: public/

  deploy:
    needs: build
    if: ${{ needs.build.outputs.deployed-checksum != needs.build.outputs.artifact-checksum }}

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-slim

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
