name: Publish

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    permissions:
      # Used for git push
      contents: write

    outputs:
      deployed-checksum: ${{ steps.deployed-checksum.outputs.checksum }}
      artifact-checksum: ${{ steps.artifact-checksum.outputs.checksum }}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout main branch
        uses: actions/checkout@v4

      - name: Checkout gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: "gh-pages"
          path: "public"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - uses: astral-sh/setup-uv@v2

      - name: Install dependencies
        run: |
          uv pip install --system --constraint requirements.txt '.'

      - name: Load cache
        uses: actions/cache@v4
        with:
          path: cache.pickle
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Generate feeds
        run: |
          IFS=',' read -r -a regions_array <<< "$REGIONS"
          for region in "${regions_array[@]}"; do
              drafthouse "$region" --output-file "public/$region.json"
          done
        env:
          CACHE_PATH: cache.pickle
          CACHE_MAX: 1000
          REGIONS: ${{ vars.REGIONS }}

      - name: Commit changes
        id: commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          if git commit --message "Update feeds"; then
              echo "committed=true" >>"$GITHUB_OUTPUT"
          else
              echo "committed=false" >>"$GITHUB_OUTPUT"
          fi
        working-directory: public/

      - name: Push changes
        if: steps.commit.outputs.committed == 'true'
        run: git push origin refs/heads/gh-pages
        working-directory: public/

      - name: Fetch deployed checksum
        id: deployed-checksum
        run: |
          curl -s https://josh.github.io/alamo-drafthouse-feeds/.checksum | tee "$RUNNER_TEMP/checksum"
          (echo -n "checksum=" ; cat "$RUNNER_TEMP/checksum") >>"$GITHUB_OUTPUT"

      - name: Compute checksum
        id: artifact-checksum
        run: |
          sha256sum ./* | sort | sha256sum | awk '{print $1}' | tee "$RUNNER_TEMP/checksum"
          (echo -n "checksum=" ; cat "$RUNNER_TEMP/checksum") >>"$GITHUB_OUTPUT"
          mv "$RUNNER_TEMP/checksum" .checksum
        working-directory: public/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public/

  deploy:
    needs: build
    if: ${{ needs.build.outputs.deployed-checksum != needs.build.outputs.artifact-checksum }}

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
