name: Test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - uses: astral-sh/setup-uv@v2

      - name: Install dependencies
        run: |
          uv pip install --system --constraint requirements.txt '.'

      - name: Load cache
        uses: actions/cache@v4
        with:
          path: cache.pickle
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Test SF feed
        run: drafthouse sf
        env:
          CACHE_PATH: cache.pickle
          CACHE_MAX: 1000
